body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #eeedf7;
}

h1,
h2 {
  font-size: 50px;
  font-weight: 900;
}

h2 {
  color: #445777;
}

h3 {
  font-size: 30px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 80px;
  width: 100%;
  background-color: #31343d;
}

.header h1 {
  padding-left: 75px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  background: #92ccce;
  color: #31343d;
}

.header nav {
  padding-right: 50px;
}

.header nav ul li {
  display: inline;
  text-decoration: none;
}

.nav-links a {
  background: linear-gradient(to bottom, #92ccce 0%, #92ccce 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  padding: 8px;
  color: #92ccce;
  text-decoration: none;
  transition: background-size 0.2s;
}

.nav-links a:hover {
  background-size: 4px 50px;
  color: #31343d;
}

.banner {
  height: 195px;
  width: 100%;
  background-image: url(../images/blue-wood.png);
  position: relative;
  z-index: -2;
}

.banner-text {
  position: absolute;
  top: 215px;
  right: 75px;
  color: #31343d;
  background-color: #92ccce;
  z-index: -1;
}

.main-about-me {
  display: flex;
  margin: 35px 5%;
}

.title-about-me {
  text-align: end;
  padding-right: 10px;
  margin-left: 42px;
}

.body-about-me {
  padding: 10px 30px;
  border-left: 3px solid #445777;
}

.body-about-me h2 {
  display: none;
  text-align: center;
  padding-bottom: 15px;
}

.body-about-me img {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  padding: 0 10px 8px 0;
  float: left;
}

.body-about-me p {
  text-align: justify;
}

.main-work {
  display: flex;
  margin: 35px 5%;
}

.title-work {
  text-align: end;
  padding-right: 10px;
  margin-left: 59px;
}

.body-work {
  padding: 10px 30px;
  border-left: 3px solid #445777;
}

.body-work h2 {
  display: none;
  text-align: center;
  padding-bottom: 15px;
}

.main-contact-me {
  display: flex;
  margin: 35px 5%;
}

.title-contact-me {
  text-align: end;
  padding-right: 10px;
}

.body-contact-me {
  flex-grow: 1;
  padding: 10px 30px;
  border-left: 3px solid #445777;
}

.body-contact-me h2 {
  display: none;
  text-align: center;
  padding-bottom: 15px;
}

.body-contact-me ul {
  display: flex;
  justify-content: space-around;
  margin: 32px 0;
}

.body-contact-me a {
  background: linear-gradient(to bottom, #445777 0%, #445777 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  padding: 8px;
  color: #445777;
  text-decoration: none;
  transition: background-size 0.2s;
}

.body-contact-me a:hover {
  background-size: 4px 50px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .title-about-me {
    display: none;
  }
  
  .body-about-me {
    border-left: 0;
  }
  .body-about-me h2 {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #445777;
  }

  .title-work {
    display: none;
  }

  .body-work {
    border-left: 0;
  }

  .body-work h2 {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #445777;

  }

  .title-contact-me {
    display: none;
  }

  .body-contact-me {
    border-left: 0;
  }

  .body-contact-me ul {
    margin: 0;
  }

  .body-contact-me h2 {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #445777;

  }
}