body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #eeedf7;
}

h1, h2 {
  font-size: 44px;
  font-weight: 900;
}

h2 {
  color: #445777;
}

h3 {
  font-size: 30px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 75px;
  width: 100%;
  background-color: #31343d;
}

.header h1 {
  padding-left: 75px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  background: #92ccce;
  color: #31343d;
}

.header nav {
  padding-right: 50px;
}

.header nav ul li {
  display: inline;
  text-decoration: none;
}

.nav-links a {
  background: linear-gradient(to bottom, #92ccce 0%, #92ccce 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  padding: 8px;
  color: #92ccce;
  text-decoration: none;
  transition: background-size 0.2s;
}

.nav-links a:hover {
  background-size: 4px 50px;
  color: #31343d;
}

.banner {
  height: 195px;
  width: 100%;
  background-image: url(../images/blue-wood.png);
  position: relative;
  z-index: -2;
}

.banner-text {
  position: absolute;
  top: 215px;
  right: 75px;
  color: #31343d;
  background-color: #92ccce;
  z-index: -1;
}

.about-me-title {
  grid-area: a2;
  text-align: end;
  justify-self: end;
  padding: 20px 10px;
}

.about-me-content {
  grid-area: a3;
  display: flex;
  align-self: center;
  padding: 4px 30px;
  border-left: 3px solid #445777;
  margin: 15px 0;
}

.about-me-content img {
  display: block;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  padding-right: 15px;
}

.work-title {
  grid-area: b2;
  text-align: end;
  justify-self: end;
  padding: 20px 10px;
}

.work-content {
  grid-area: b3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: stretch;
  padding: 4px 30px;
  border-left: 3px solid #445777;
  margin: 15px 0;
}

.project1 img {
  border: 15px solid #92ccce;
}

.contact-me-title {
  grid-area: c2;
  justify-self: end;
  text-align: end;
  padding: 20px 10px;
}

.contact-me-content {
  grid-area: c3;
  align-self: center;
  padding: 35px 30px;
  border-left: 3px solid #445777;
  margin: 15px 0;
}

.content {
  display: grid;
  grid-template-columns: 80px 15% auto 80px;
  grid-template-rows: auto;
  grid-template-areas:
    "a1 a2 a3 a4"
    "b1 b2 b3 b4"
    "c1 c2 c3 c4";
}

.contact-me-content ul {
  display: flex;
  justify-content: space-around;
}

.contact-me-content ul li {
  display: inline;
  text-decoration: none;
}

.contact-me-content a {
  background: linear-gradient(to bottom, #445777 0%, #445777 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  padding: 8px;
  color: #445777;
  text-decoration: none;
  transition: background-size 0.2s;
}

.contact-me-content a:hover {
  background-size: 4px 50px;
  color: #31343d;
}
